<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
    <div class="question-number" align="left">
      문제 2번
    </div>
    <div class="main-question" align="left">
      다음 글에 제시된 ‘편향’이 어느 경우에 발생하는지를 옳게 설명 한 것을 &lt;보기&gt;에서 모두 고르면?
    <div class="question-box">
      <p style="text-indent: 1.5rem; text-align:justify">
          인간은 불확실한 세계에서 산다. 우리는 다른 이의 의도와 감정적 상태에 대해 추론을 해야만 한다. 
          우리는 이미 일어난 행위에 오직 확률적으로만 연관되어 있는 수많은 혼돈된 단서들에 의존해서 행위가 일어난 경위와 그 행위자의 의도를 추론할 수밖에 없다. 
          타인의 마음을 읽으려 할 때 나타나는 실수는 음성오류(false negative)라고 불리는 실수와 양성오류 (false positive)라고 불리는 실수가 있다. 
          전자는 실제로 있는 심리상태를 추론하지 못하거나 그 정도를 과소평가하는 것이며, 후자는 실제로 없는 심리상태를 있다고 추론하거나 그 정도를 과대평가하는 것이다.  
      </p>
      <p style="text-indent: 1.5rem; text-align:justify; padding-top:15px;">
          진화심리학자 헤이즐턴이 새롭게 제안한 실수관리이론에 따르면, 두 종류의 실수에 따른 손실을 따졌을 때, 한 종류의 손실과 다른 종류의 손실 크기가 서로 완전히 동일할 가능성은 없다. 
          우리는 연기가 아주 조금이라도 있으면 울리게끔 극도로 민감하게 설정된 연기탐지기의 예를 통해 이 비동일성을 직관적으로 이해할 수 있다. 
          가끔 잘못 울리는 경보에 따르는 손실은, 집안에 화재가 났을 때 제대로 탐지하지 못해서 겪는 엄청난 손실에 비하면 극히 미미하다.  
      </p>
      <p style="text-indent: 1.5rem; text-align:justify; padding-top:15px;">
          실수관리이론은 이 논리를 진화적 적응도의 손실에, 특히 이성의 짝짓기 마음을 읽는 상황에 중점적으로 적용한다. 
          실수관리이론에 따르면 마음을 읽는 추론의 손실의 비대칭성 으로 인한 선택압력이 오랜 진화적 시간에 걸쳐 작용하여 몇 가지 예측 가능한 인지적 편향을 만들어 냈다. 
          즉, 실수 관리이론은 마음을 읽는 심리기제가 특정한 종류의 추론 실수를 더 잘 저지르도록 편향되어 있으리라 예측한다. 
          헤이즐턴은 몇 가지 종류의 잠재적인 독심 오류를 연구하였다. 
          첫 번째는 성적 기회를 놓치는 손실을 최소화하기 위하여 설계된 남성의 성적과지각편향(sexual over-perception bias)이다. 
          이는 여성이 단순히 미소를 짓거나 우연히 만나 함께 술 한잔 했을 뿐인데도 그녀가 성적인 관심을 보인다고 착각하는 경향이다. 
          두 번째 편향은 진실하게 헌신하는 정도를 과소평가하게끔 설계된 여성의 헌신회의편향(commitment skepticism bias) 이다. 
          여성은 구애 초기 단계에 남성이 자신에게 진실하게 헌신 하는 정도를 ‘객관적인’ 외부관찰자에 비해 과소평가하는 경향이 있다. 
          세 번째 편향은 성적 질투와 연관이 되는데 배우자의 불륜에 대해 잘못 추론하는 것이다. 
          남녀 모두가 자신의 배우자가 사실은 그렇지 않은데도 불륜을 저질렀다고 잘못된 의심을 하는 경우가 종종 있다.
      </p>
    </div>
    <div style="width:100%;">
    <div style="border: 1px solid rgba(127,127,127,.3); padding : 7px; margin-top: 50px; width:60%; float:left;" align="left" [style.visibility]="isFormHidden ? 'hidden':'visible'">
      <div style="text-indent: -2.8rem; margin-left:2.8rem;">ㄱ. 성적과지각편향은 음성오류로 인한 손실이 양성오류로 인한 손실에 비해 적을 경우에 발생한다.</div>
      <div style="text-indent: -2.8rem; margin-left:2.8rem;">ㄴ. 성적과지각편향은 음성오류로 인한 손실에 비해 양성 오류로 인한 손실이 적을 경우에 발생한다.</div>
      <div style="text-indent: -2.8rem; margin-left:2.8rem;">ㄷ. 헌신회의편향은 음성오류로 인한 손실이 양성오류로 인한 손실에 비해 적을 경우에 발생한다. </div>
      <div style="text-indent: -2.8rem; margin-left:2.8rem;">ㄹ. 헌신회의편향은 음성오류로 인한 손실에 비해 양성오류로 인한 손실이 적을 경우에 발생한다. </div>
      <div style="text-indent: -2.8rem; margin-left:2.8rem;">ㅁ. 배우자의 불륜에 대한 편향은 음성오류로 인한 손실이 양성오류로 인한 손실에 비해 적을 경우에 발생한다.</div>
    </div>
    <div style="float:left; width:40%; margin-top: 50px;" align="center">
          <form class="exam-form" [style.visibility]="isFormHidden ? 'hidden':'visible'" >
        <div>
       <input type="radio" name="exam" value="1"> ①&nbsp;ㄱ, ㄹ<span style="visibility: hidden;">, ㅁ</span>  
        </div>
        <div>
       <input type="radio" name="exam" value="2"> ②&nbsp;ㄴ, ㄷ<span style="visibility: hidden;">, ㅁ</span> 
      </div>
      <div>
       <input type="radio" name="exam" value="3"> ③&nbsp;ㄱ, ㄹ, ㅁ 
      </div>
      <div>
       <input type="radio" name="exam" value="4"> ④&nbsp;ㄴ, ㄷ, ㅁ 
      </div>
      <div>
       <input type="radio" name="exam" value="5"> ⑤&nbsp;ㄴ, ㄹ, ㅁ
      </div>
    </form>
    </div>
  </div>

    
  </div>


  


</div>