<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
    <div class="question-number" align="left" >
      문제 3번
    </div>
    <div class="main-question" align="left">
      <div >
    다음 &lt;그림&gt;과 &lt;표&gt;는 어느 연구소의 직원채용절차에 대한 자료이다.<br>이를 근거로 1일 총 접수건수를 처리하기 위한 각 업무단계별 총 처리비용이 두 번째로 큰 업무단계는? 
  </div>
  <div class="question-box" align="center">
      <figure style="display: inline-block; width: 27%;">
        <img src="/assets/img/tp1-l-1.png" >
        <figcaption>&lt;그림&gt;직원채용절차</figcaption>
      </figure>

      <figure style="display: inline-block; width: 27%; visibility: hidden;">
          <img src="/assets/img/tp1-l-2.png">
          <figcaption>&lt;표&gt;지원유형별 1일 접수 건수</figcaption>
        </figure>
        <figure style="display: inline-block; width: 27%; visibility: hidden;">
            <img src="/assets/img/tp1-l-3.png">
            <figcaption>&lt;표&gt;업무단계별 1건당 처리비용</figcaption>
          </figure>

      <div style="width: 100%; margin-top:30px;" align="right">
        <div style="display: inline-block; margin-right:8%;" align="left">
        <p style="text-indent:-1.81em; font-size: 1.4rem;">
          ※ 직원채용절차에서 중도탈락자는 없음.
        </p>
        <p style="text-indent:-1.81em; font-size: 1.4rem; ">
            ※ 업무단계별 1건당 처리비용은 지원유형에 관계없이 동일함
        </p>
        </div>
      </div>
    </div>
  
      <form style="visibility: hidden;">
        
            <div>
              <input type="radio" name="exam" value="1" > ①&nbsp;접수확인
            </div>
  
        
            <div>
              <input type="radio" name="exam" value="2"> ②&nbsp;서류심사
  
            </div>
  
    
            <div>
              <input type="radio" name="exam" value="3"> ③&nbsp;직무능력심사
            </div>
  
            <div>
              <input type="radio" name="exam" value="4"> ④&nbsp;학업성적심사
            </div>
         
   
              <div>
                <input type="radio" name="exam" value="5"> ⑤&nbsp;합격여부통지
              </div>
       
        </form>
  </div>
  <div style="position: fixed; right:0px; top: 0px; outline: 1px gray; background: rgba(127,127,127,.15); width:12px; height: 100%;" (click)="moveH2()">
      <div style="position: fixed; top:0px; right:0px; height: 15px; height: 50%; width:12px; background: gray;">
        <span class="material-icons" style="font-size: 12px;">arrow_drop_up</span>
      </div>
      <div style="position: fixed; bottom:0px; right:0px; height: 15px;  width:12px;">
        <span class="material-icons" style="font-size: 12px;">arrow_drop_down</span>
      </div>
    </div>
  
  </div>