<div style="position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); font-size: 3.5rem; width: 100%;">
  검사 유형을 선택한 후 '다음으로' 버튼을 눌러<br>
  [  본 검사  ] 를 진행하십시오.
  <br>
  <br>
  <br>

  <div style="font-size: 2.5rem;">검사 유형</div>
  <label style="font-size: 2.5rem; margin-right: 5px;" (click)="setTestType('1');">
    <input type="radio" name="testType"  > 1
  </label>
  <label style="font-size: 2.5rem; margin-right: 5px;" (click)="setTestType('2');">
    <input type="radio" name="testType"> 2
  </label>
  <label style="font-size: 2.5rem; margin-right: 5px;" (click)="setTestType('3');">
    <input type="radio" name="testType"> 3
  </label>
  <label style="font-size: 2.5rem;" (click)="setTestType('4');">
    <input type="radio" name="testType"> 4
  </label>
</div>