<app-header [alertMsg]="alertMsg" [style.visibility]="showHeader ? 'visible':'hidden'" ></app-header>
<div id="contents" align="center" style="position: relative;">
        <!-- [style.border]="showBorder ? '1px solid rgba(127,127,127,.5)' : 'none'" -->
    <div id="inner-contents" [style.border]="showBorder ? '1px solid gray' : 'none'" class="inner-contents-screen" >
        <router-outlet (activate)='onActivate($event)' (deactivate)="onDeActivate($event)"></router-outlet>
        <div align="left" *ngIf="showTestPg" >
            <ul class="pagination" >
                <li><a class="pg-a" id="N1" (click)="movePage('/test-N1')">N1</a></li>
                <li><a class="pg-a" id="N2" (click)="movePage('/test-N2')">N2</a></li>
                <li><a class="pg-a" id="L1" (click)="movePage('/test-L1')">L1</a></li>
                <li><a class="pg-a" id="L2" (click)="movePage('/test-L2')">L2</a></li>
                <li><a class="pg-a" id="C1" (click)="movePage('/test-C1')">C1</a></li>
                <li></li>
                <li><a class="pg-a" id="C2" (click)="movePage('/test-C2')">C2</a></li>
            </ul>
        </div>

        <div align="left" *ngIf="showStimuliPg">

            <ul class="pagination" *ngIf="showL">
                        <li><a class="pg-a" style="cursor: default;">E/H : </a></li>
                        <li><a class="pg-a" id="TO-L" (click)="movePage('/stimuli-TO1-L')">TO_L</a></li>
                        <li><a class="pg-a" id="TP-L" (click)="movePage('/stimuli-TP1-L')">TP_L</a></li>
                        <li><a class="pg-a" id="PO-L" (click)="movePage('/stimuli-PO1-L')">PO_L</a></li>
            </ul>
            <ul class="pagination" *ngIf="!showL">
                <li><a class="pg-a" style="cursor: default;">E/H : </a></li>
                <li><a class="pg-a" id="TO-H" (click)="movePage('/stimuli-TO1-H')">TO_H</a></li>
                <li><a class="pg-a" id="TP-H" (click)="movePage('/stimuli-TP1-H')">TP_H</a></li>
                <li><a class="pg-a" id="PO-H" (click)="movePage('/stimuli-PO1-H')">PO_H</a></li>
            </ul>

 
        </div>

    </div>
</div>
<div class="app-footer">
        <mat-icon style="color:rgba(200,200,200,.5); font-size: 5rem; float: left; cursor: pointer; margin-left: 10%;" (click)="warning()" [style.visibility]="showWarning ? 'visible':'hidden'" >warning</mat-icon>
        <button *ngIf="showNextBtn" mat-raised-button  style="font-size: 2rem; padding: 0px 30px 0px 30px; float: right; margin-right: 10%;  background: rgb(127,127,127); color:rgb(252,251,227); font-family: 'gyeonmyeongjo';" (click)="nextPage()">다음으로</button>

</div>
