body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
    
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.pagination li {
    display: inline;
    
}

ul.pagination li a {
    color: rgba(127,127,127,.5);
    background: none !important;
    border: none;
    cursor: pointer;
    padding: 5px 0px 0px 3px;
    margin-right : 7px;
    text-decoration: none;
}

.p-active{
    font-weight: bold; color: gray !important;
}



