<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
  <div class="question-number" align="left">
    문제 5번
  </div>
  <div class="main-question" align="center">
    <div align="left">다음의 전개도를 그림이 바깥쪽으로 향하도록 접을 때, 만들어질 수 있는 입체도형을 고르시오.</div>
    <div class="question-box" align="center">
      <img src="/assets/img/po1-l-main1.png" style="padding:10px; margin-right: 100px;" height="300px;">
      <img src="/assets/img/po1-l-main2.png" style="padding:10px;" height="300px;">
    </div>
    <form style="margin:120px 0px 0px 0px !important; visibility: hidden;">
      <div class="radio" style="float:left; width:20%; margin-top: 0px !important;">
     
          <input type="radio" name="exam" value="1">①
          <img src="/assets/img/po1-l-1.png" height="110px;">

      </div>
      <div class="radio" style="float:left; width:20%;">

          <input type="radio" name="exam" value="2">②
          <img src="/assets/img/po1-l-2.png" height="90px;">

      </div>
      <div class="radio" style="float:left; width:20%;">

          <input type="radio" name="exam" value="3">③
          <img src="/assets/img/po1-l-3.png" height="90px;">

 
      </div>
      <div class="radio" style="float:left; width:20%;">

          <input type="radio" name="exam" value="4">④
          <img src="/assets/img/po1-l-4.png" height="90px;">

      </div>
      <div class="radio" style="float:left; width:20%;">

          <input type="radio" name="exam" value="5">⑤
          <img src="/assets/img/po1-l-5.png" height="90px;">


      </div>
    </form>
  </div>
  <div style="position: fixed; right:0px; top: 0px; outline: 1px gray; background: rgba(127,127,127,.15); width:12px; height: 100%;" (click)="moveH2()" >
    <div style="position: fixed; top:0px; right:0px; height: 15px; height: 50%; width:12px; background: gray;">
      <span class="material-icons" style="font-size: 12px;">arrow_drop_up</span>
    </div>
    <div style="position: fixed; bottom:0px; right:0px; height: 15px;  width:12px;">
      <span class="material-icons" style="font-size: 12px;">arrow_drop_down</span>
    </div>
  </div>

</div>