<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
  <div class="question-number" align="left" style="visibility: hidden;">
    문제 1번
  </div>
  <div class="main-question" align="left">
      <div style="visibility: hidden;">다음 글의 전체 흐름과 맞지 않는 한 곳을 ㉠ ～ ㉤에서 찾아 수정하려고 한다. 알맞게 수정한 것은?</div>
  <div class="question-box" style="visibility: hidden;">
    <p style="text-indent: 1.5rem;">
        노예들이 저항의 깃발을 들고 일어설 때는 그들의 굴종과 인내가 한계에 이르렀을 때이다. 
        개인의 분노와 원한이 폭발할 때에도 그것이 개인의 행위로 그칠 때에는 개인적 복수극에 그치고 만다. 
        저항의 본질은 억압하는 자에 대한 분노와 원한이 확산되어 가치를 공유하게 되는 데 있다. 
        스파르타쿠스가 저항의 깃발을 들어 올렸을 때, 수십만 명의 노예와 농민들이 그 깃발 아래 모여든 원동력은 바로 <U>㉠이러한 공통의 분노, 공통의 원한, 공통의 가치에 있었다.</U>
    </p>
    <p style="text-indent: 1.5rem; padding-top:15px;">
        프로메테우스의 신화에서도 저항의 본질을 엿볼 수 있다. 
        프로메테우스는 제우스가 인간에게 불을 보내주지 않자, <U>㉡인간의 고통에 공감하여 ‘하늘의 바퀴’에서 불을 훔쳐</U> 지상으로 내려가서 인간에게 주었다. 
        프로메테우스의 저항에 격노한 제우스는 인간과 프로메테우스에게 벌을 내렸다. 
        인간에게는 불행의 씨앗이 들어 있는 ‘판도라의 상자’를 보냈고 프로메테우스에게는 쇠줄로 코카서스 산 위에 묶인 채 독수리에게 간을 쪼아 먹히는 벌을 내린 것이다. 
    </p>
    <p style="text-indent: 1.5rem; padding-top:15px;">
        저항에 나선 사람들이 느끼는 굴종과 인내의 한계는 <u>㉢시대와 그들이 처한 상황에 따라 다르게 나타난다. </u>
        그리스도교의 정신과 의식을 원용하여 권력의 신성화에 성공한 중세의 지배체제는 너무도 견고하여 농민들의 눈물과 원한이 저항의 형태로 폭발하지 못했다. 
        산업사회의 시민이나 노동자들은 평균적인 안락한 생활이 위협받을 때에만 ‘저항의 광장’으로 나가는 모험을 감행한다. 
        그들이 바라고 지키려는 것은 <u>㉣가족, 주택, 자동차, 휴가 따위이다. </u>
    </p>
    <p style="text-indent: 1.5rem; padding-bottom:0px !important; padding-top:15px;">
        저항이 폭발하여 기존의 지배체제를 무너뜨리고 새로운 왕조나 국가를 세우고 나면 그 저항의 힘은 시들어 버린다. 
        원한에 사무친 민중들의 함성이야말로 저항의 원동력이기 때문이다. 
        저항의 형태를 취하고 있으면서도 권력 쟁탈을 목적으로 한 쿠데타와 같은 적대 행위는, 그 본질에 있어서 지배와 피지배의 관계에서 발생하는 저항과는 다르다. 
        권력의 성채 속에서 벌어지는 음모, 암살, 배신은 <u>㉤이들 민중의 원한과 분노에서 시작된다.</u>

    </p>
  </div>
  <form class="exam-form" id="h-form" (change)="changevalue($event)" style="margin-top:50px;">
      <div>
     <input type="radio" name="exam" value="1"> ①&nbsp;㉠－이러한 극도의 개인적 분노와 원한에 있었다 
      </div>
      <div>
     <input type="radio" name="exam" value="2"> ②&nbsp;㉡ －독단적 결단에 따라 ‘하늘의 바퀴’에서 불을 훔쳐
    </div>
    <div>
     <input type="radio" name="exam" value="3"> ③&nbsp;㉢－시대와 그들이 처한 상황 속에서도 일관성 있게 나타난다 
    </div>
    <div>
     <input type="radio" name="exam" value="4"> ④&nbsp;㉣ －상류층과 동등한 삶의 질이다 
    </div>
    <div>
     <input type="radio" name="exam" value="5"> ⑤&nbsp;㉤ －이들 민중의 원한과 분노에서 비롯된 것이 아니다
    </div>
  </form>
  
</div>
<div style="position: fixed; right:0px; top: 0px; outline: 1px gray; background: rgba(127,127,127,.15); width:12px; height: 100%;" (click)="moveH1()">
  <div style="position: fixed; top:0px; right:0px; height: 15px; width:12px;  ">
    <span class="material-icons" style="font-size: 12px;">arrow_drop_up</span>
  </div>
  <div style="position: fixed; bottom:0px; right:0px; height: 15px;  width:12px; height: 50%; background: gray;">
    <span class="material-icons" style="font-size: 12px; position: fixed; bottom: 1px; right: 0px;">arrow_drop_down</span>
  </div>
</div>




</div>