<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
  <div class="question-number" align="left">
    문제 4번
  </div>
  <div class="main-question" align="left">
    다음은 국제회의 참석차 미국 뉴욕으로 출발한 각국 대표단의 출발지 기준 이륙시각, 비행시간, 동일시점에서의 각 국의 현지시각을 나타낸 자료이다. <br>각 국 대표단이 뉴욕에 도착한 순서를 바르게 나타낸 것은?
  <div class="question-box" align="center">
      <figure style="width: 30%; margin-right: 3%;">
        <img src="/assets/img/tp2-l-1.png" >
        <figcaption>&lt;표&gt;각 국 대표단의 비행 스케줄</figcaption>
      </figure>
      <figure style="width: 45%;">
          <img src="/assets/img/tp2-l-2.png">
          <figcaption>&lt;그림&gt;동일시점에서의 각 국의 현지시각</figcaption>
        </figure>

    </div>

    <form style="margin-top:50px;">
        <div >
    
            <input type="radio" name="exam" value="1" >&nbsp;① 인도 – 독일 – 대한민국
     
        </div>
        <div >
    
            <input type="radio" name="exam" value="2" >&nbsp;② 인도 – 대한민국 – 독일

     
        </div>
        <div >
      
            <input type="radio" name="exam" value="3" >&nbsp;③ 대한민국 – 독일 – 인도
   
        </div>
        <div >
      
            <input type="radio" name="exam" value="4" >&nbsp;④ 대한민국 – 인도 – 독일

        </div>
        <div >
          
              <input type="radio" name="exam" value="5" >&nbsp;⑤ 독일 – 대한민국 – 인도
           
          </div>
      </form>
</div>


</div>