<div style="width: 100%; height: 100%; padding:5px; display: table;" align="center">
  <div class="test-question-number"
    align="left">
    문제 5번 [제한시간 30초]
  </div>
  <div class="test-question-box" >
    두 계산식 중 큰 값을 선택하세요.
  </div>

  <div style="display: table-cell; vertical-align: middle;">
    <form class="form-inline">
      <div class="col-sm-12">
        <div class="radio" style="margin-right:150px;" align="left" (click)="checkRadio(1);">
          <input type="radio" name="testC1" value="1" id="c1RadioVal1" >
          <div align="right" style="border-bottom: 3px solid black; padding-bottom: 8px;">
            <div style="font-size: 2rem;">
              <span style="visibility: hidden;">3,0</span>37</div>
            <div style="font-size: 2rem;">X &nbsp; &nbsp;
              <span style="visibility: hidden;">3,0</span>51</div>
          </div>
        </div>

        <div class="radio" align="left" (click)="checkRadio(2);">
          <input type="radio" name="testC1" value="2" id="c1RadioVal2" >
          <div align="right" style="border-bottom: 3px solid black; padding-bottom: 8px;">
            <div style="font-size: 2rem;">
              <span style="visibility: hidden;">3,0</span>46</div>
            <div style="font-size: 2rem;">X &nbsp; &nbsp;
              <span style="visibility: hidden;">3,0</span>39</div>
          </div>
        </div>
      </div>
    </form>
    <!-- <mat-radio-group>
        <mat-radio-button value="1" style="margin-right:50px;">
       
        </mat-radio-button>
  
        <mat-radio-button value="2">

  
        </mat-radio-button>
      </mat-radio-group> -->
  </div>
</div>